body{
margin: 40px;
text-align: center;

}
header{
  text-align: center;

}
div{
  width: 600px;
margin-left: 5%;

}
#incorrecto{
  color: red;
  margin-left: 0% !important;
}

#correcto{
  color: rgb(0, 255, 85);
  padding: none;
}

div[_ngcontent-wvw-c46]{
  padding: none;
}
