


<div class="card mb-3">
  <img class="card-img-top" src="assets/concierto1.jpg" style="width: 300px;height: 200px;" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Fiesta del chill en torrefarrera.</h5>
    <p class="card-text">Focos como este y varios más, menos numerosos, registrados en Lérida han multiplicado por tres los casos en una semana. La Conselleria de Salud de la Generalitat ha explicado este martes que la región sanitaria de Lérida ha pasado de registrar 45 casos de coronavirus del 7 al 13 de mayo a identificar 142 positivos entre el 14 y el 21 del mismo mes.</p>
    <p class="card-text"><small class="text-muted">Sergi Bertran</small></p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Alconchel celebra una versión "reducida y controlada" de la Fiesta de la Zaragutía Mora</h5>
    <p class="card-text"> El acto central de este año de La Zaragutía Mora será en el Auditorio del Polideportivo municipal y contará con la compañía Samarkanda que adaptará su espectáculo de pasacalles sobre hadas y duendes a la figura del espantajo de la Zaragutia llevando por título "Hadas, Duendes y otros seres extraños: La Zaragutia Mora".

      En el espectáculo, que parte de la Plaza de España con el desfile, incluye los pasajes de la historia de Alconchel así como la interpretación del cuento de la Zaragutia a la manera de la compañía teatral, conjugando la música, la magia y el fuego.</p>
    <p class="card-text"><small class="text-muted">Sergi Bertran</small></p>
  </div>
  <img class="card-img-bottom" src="assets/concierto2.jpg" style="width: 300px;height: 200px;"  alt="Card image cap">
</div>





