<app-header></app-header>


<body>
  <article>
  <h1>Lorem ipsum dolor sit amet.</h1>
  <img src="assets/concierto1.jpg" width="400" height="200" alt="">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error reprehenderit eum, maiores iusto neque vitae tempora possimus minus id architecto qui fuga ipsam tenetur quod dignissimos quaerat itaque odit recusandae nostrum illo esse amet doloribus unde voluptates. Maxime a omnis eaque, consequuntur expedita consectetur laudantium neque amet beatae optio harum obcaecati aliquam sunt nulla non, alias accusantium odio et. Fuga!</p>
</article>
<article>
  <h1>Lorem ipsum dolor sit amet.</h1>
  <img src="assets/concierto1.jpg" width="400" height="200" alt="">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error reprehenderit eum, maiores iusto neque vitae tempora possimus minus id architecto qui fuga ipsam tenetur quod dignissimos quaerat itaque odit recusandae nostrum illo esse amet doloribus unde voluptates. Maxime a omnis eaque, consequuntur expedita consectetur laudantium neque amet beatae optio harum obcaecati aliquam sunt nulla non, alias accusantium odio et. Fuga!</p>
</article>
</body>

<app-footer></app-footer>
